.navbar {
    padding : 1% 5%; 
    width: 100vw;
    background-color: var(--bckg-color);
    display: flex;
    flex-direction: row;
    color:  var(--login-color);
}
.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.language-choice, .theme-choice {
    cursor: pointer;
    font-size: 0.8rem;
    margin-right: 30px;
}
.curr-theme-choice {
    font-size: 1.1rem;
    font-weight: bold;
} 
.curr-choice {
    font-size: 1.1rem;
    font-weight: bold;
}
.library-text {
    color : var(--login-color);
    cursor: pointer;
}
.logout {
    font-size: 1rem;
    font-weight: bold;
    padding: 13px 13px;
    background-color: var(--default-btn-color);
    border: 1px solid black;
    cursor: pointer;
    transition: 0.25s;
}
.logout:hover {
    background-color: var(--hover-btn-color);
}

@media screen and (max-width: 550px) {
    .navbar {
        min-height: 60px;
    }
    .navbar-right {
        margin-right: 5px;
    }
    .language-choice, .theme-choice {
        margin-right: 15px; 
        font-size: 0.6rem;
    }
    .curr-choice {
        font-size: 0.8rem;
    }
    .logout {
        font-size: 0.9rem;
        padding: 6px 13px;
    }
    
}
@media screen and (max-width: 400px) {
    .book-table {
        margin: 2% 5%;
    }
}